<div class="clearfix">
  <md-tab-group>
    <md-tab label="График">
      <div class="col-md-12">
        <div style="display: block;">
          <div class="row">
   
            <span class="right-icon" *ngIf="isMarked == false">
              <button title="График Топ-валют" md-icon-button (click)="multiChart()">
                  <img width="24" alt="Simpleicons Business ascendant-bars-graphic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Simpleicons_Business_ascendant-bars-graphic.svg/512px-Simpleicons_Business_ascendant-bars-graphic.svg.png"/>
              </button>
            </span>
            <span class="right-icon"  *ngIf="isMarked == true">
              <button  title="График выбранной валюты"md-icon-button (click)="lineChart()">
                  <img width="24" alt="Simpleicons Business ascendant-bars-graphic" src="https://cdn3.iconfinder.com/data/icons/graph/100/20-128.png"/>
              </button>
            </span>
          </div>
          <rate-chart [ngClass]="{'hide': isMarked}"  [start]="startDate" [end]="endDate"  [currensiesId]= '[currency.Cur_ID]'> </rate-chart>
          <rate-chart [ngClass]="{'hide': isChecked}" [start]="startDate" [end]="endDate"  [currensiesId]= '[145,298,292]'> </rate-chart>
        </div>
      </div>
    </md-tab>
    <md-tab label="Таблица">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>День</th>
            <th>{{currency.Cur_Abbreviation}}</th>
            <th>Изменения курса</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rate of rates">
            <td>{{rate.Date}}</td>
            <td>{{rate.Cur_OfficialRate}}</td>
            <td><span *ngIf="rate.delta<0" class="red-delta">{{rate.delta}} <span> <md-icon>arrow_drop_down</md-icon> </span></span>
              <span *ngIf="rate.delta>=0" class="green-delta">{{rate.delta}} <span> <md-icon>arrow_drop_up</md-icon></span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </md-tab>
  </md-tab-group>
</div>