<md-toolbar color="primary">
  <span>Курсы валют</span>
  <span class="spacer"></span>
  <a md-button class="text-github" href="https://github.com/92denis/exchangeRates" target="_blank"> 
    <span>
      <img width="32" height="32" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABvklEQVRIS7WV7TEEQRCGn4uADBABIkAGREAGiIAMEAEiQARkgAgQASKgHjV91bt3O7N+bFdNXc1Nd79vf+6MiWU2sX/GABwBO8BWOXJ6KeceeKiRrAHsAxfAeiPKd+AUEGxBhgAugeOi/QF4fyqs/dtodoETYK3oqSNQR5YBZOcaeK+JIEaqXBXQuX4fwLTcldftxLjVC0b0XJQOcrr6AObTkDPzL+AT0NDihuj0rKRrozA3En14/5MMYLdcA+Y8F/an6Ark8c1fZbXnJwjOo8gAN8Bhj732YTSUpsw46nELSLgTgeFvAjn3EVWrBpHSqIW+9NMBiFTkqAK0BTB3CHT8ZGfLAOK/FkAmOwgQbK2FhVZsW9PWEuugnUW3Dq+xVlpFNqdO8EoF4btMtQSrRY6CRlc4wbLyrqHvsRbEM0rf1Yu2rbZpbkm7QmPZO0xKpCCC0eleGr5g35mj2qpwWGTklszMc7aie/KKqa4KjfOyk5ULLHeTa+AtoRjt6GUXdhnEKFwPpuOxzI6A5+WEzcIm7Q9av1EMW6Ch9IS+OTfSf31wMphAHls2ZsI+N/86Xeo4HIz5JreGrPo+OcAv8XlwGXErHmcAAAAASUVORK5CYII=">
       GitHub
    </span>
</a>
</md-toolbar>
<div class="container">
  <div class="row">
    <md-select class="md-select" placeholder="Валюта" [(ngModel)]="selectedCurrency">
      <md-option class="md-select" *ngFor="let currency of currencies | fiterCurrensies" [value]="currency">
        {{currency.Cur_Name}}
      </md-option>
    </md-select>
    <md-form-field>
      <input mdInput [(ngModel)]="startDate" [mdDatepicker]="start" placeholder="Начальная дата">
      <md-datepicker-toggle mdSuffix [for]="start"></md-datepicker-toggle>
      <md-datepicker #start></md-datepicker>
    </md-form-field>
    <md-form-field>
      <input mdInput [(ngModel)]="endDate" [mdDatepicker]="end" placeholder="Конечная дата">
      <md-datepicker-toggle mdSuffix [for]="end"></md-datepicker-toggle>
      <md-datepicker #end></md-datepicker>
    </md-form-field>

  </div>

  <div class="row">
    <app-rate [currency]="selectedCurrency" [startDate]="startDate" [endDate]="endDate"></app-rate>
  </div>
</div>