<div class="clearfix">
  <md-tab-group>
    <md-tab label="Таблица">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>День</th>
            <th>Курс</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rate of rates">
            <td>{{rate.Date}}</td>
            <td>{{rate.Cur_OfficialRate}}</td>
          </tr>
        </tbody>
      </table>
    </md-tab>
    <md-tab label="График">
      <div class="col-md-12">
        <div style="display: block;">
          <canvas baseChart width="800" height="800" [datasets]="lineChartData" [labels]="dates" [options]="lineChartOptions" [colors]="lineChartColors"
            [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </md-tab>
  </md-tab-group>


</div>