<div class="clearfix">
  <div class="panel ">
    <div class="panel-heading">Запрашиваемый период
      <md-form-field>
        <input mdInput [(ngModel)]="startDate" [mdDatepicker]="start" placeholder="Начальная дата">
        <md-datepicker-toggle mdSuffix [for]="start"></md-datepicker-toggle>
        <md-datepicker #start></md-datepicker>
      </md-form-field>
      <md-form-field>
        <input mdInput [(ngModel)]="endDate" [mdDatepicker]="end" placeholder="Конечная дата">
        <md-datepicker-toggle mdSuffix [for]="end"></md-datepicker-toggle>
        <md-datepicker #end></md-datepicker>
      </md-form-field>
    </div>

  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>День</th>
        <th>Курс</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of rates">
        <td>{{rate.Date}}</td>
        <td>{{rate.Cur_OfficialRate}}</td>
      </tr>
    </tbody>
  </table>
</div>