<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Курсы валют</div>
    <div class="panel-body">
      <div class="row">
        Выберите валюту: <select [(ngModel)]="selectedCurrency">
              <option *ngFor="let currency of currenciesCurrent" [ngValue]="currency.Cur_ID"> {{currency.Cur_Name}}</option>
       </select>
       <div class="panel ">
          <div class="panel-heading">Запрашиваемый период
            <md-form-field>
              <input mdInput [(ngModel)]="startDate" [mdDatepicker]="start" placeholder="Начальная дата">
              <md-datepicker-toggle mdSuffix [for]="start"></md-datepicker-toggle>
              <md-datepicker #start></md-datepicker>
            </md-form-field>
            <md-form-field>
              <input mdInput [(ngModel)]="endDate" [mdDatepicker]="end" placeholder="Конечная дата">
              <md-datepicker-toggle mdSuffix [for]="end"></md-datepicker-toggle>
              <md-datepicker #end></md-datepicker>
            </md-form-field>
          </div>
      
        </div>
      </div>

            <div class="row">
        <app-rate [CurId]="selectedCurrency" [startDate] = "startDate" [endDate] = "endDate" ></app-rate>
      </div>
    </div>
   </div>
 
</div>