<md-toolbar color="primary">
  <span>Курсы валют</span>
</md-toolbar>
<div class="container">
  <div class="row">
    <md-select class="md-select" placeholder="Валюта" [(ngModel)]="selectedCurrency">
      <md-option class="md-select" *ngFor="let currency of currenciesCurrent" [value]="currency">
        {{currency.Cur_Name}}
      </md-option>
    </md-select>
    <md-form-field>
      <input mdInput [(ngModel)]="startDate" [mdDatepicker]="start" placeholder="Начальная дата">
      <md-datepicker-toggle mdSuffix [for]="start"></md-datepicker-toggle>
      <md-datepicker #start></md-datepicker>
    </md-form-field>
    <md-form-field>
      <input mdInput [(ngModel)]="endDate" [mdDatepicker]="end" placeholder="Конечная дата">
      <md-datepicker-toggle mdSuffix [for]="end"></md-datepicker-toggle>
      <md-datepicker #end></md-datepicker>
    </md-form-field>

  </div>

  <div class="row">
    <app-rate [currency]="selectedCurrency" [startDate]="startDate" [endDate]="endDate"></app-rate>
  </div>
</div>