<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="row">
        <select>
              <option></option>
       </select>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>День</th>
                <th>Валюта</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>